<?xml version="1.0" ?>
<launch>
    <arg name="__ns" default=""/>
    <arg name="world" default="$(find testing_grounds_jsp)/worlds/test_scenario_1.world" />
    <arg name="x_pos" default="0"/>
	<arg name="yaw" default="0"/>
    <arg name="model" default="robotont_gazebo_nuc"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
    </include>
</launch>  
