<?xml version="1.0" ?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="-10.0"/>
    <arg name="z" default="5.0"/>
    <arg name="yaw" default="0.0"/>
  
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="world_name" default="$(find one_obstacle_world)/mock_forest_v5.world" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="0" />
    	<arg name="gui" value="$(arg gui)" />
    	<arg name="use_sim_time" value="$(arg use_sim_time)" />
    	<arg name="headless" value="$(arg headless)" />
    	<arg name="world_name" value="$(arg world_name)" />
    </include>

    <node name="custom_world_spawner" pkg="gazebo_ros" type="spawn_model" args="-x 0 -y 0 -z 0 -Y 0" />
  
    <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
  	<arg name="x" value="2.02"/>
  	<arg name="y" value="0.46"/>
  	<arg name="z" value="0.11"/>
  	<arg name="yaw" value="-3.04"/>
    </include>
</launch>
