<?xml version="1.0" ?>
<launch>
	<master auto="start"/>
	<arg name="map_file" default="$(find jackal_nav)/maps/agri_world_map_test.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	<!-- launch amcl -->
	<include file="$(find jackal_nav)/launch/include/amcl.launch">
		<arg name="use_map_topic" value="true" />
		<arg name="scan_topic" value="front/scan" />
	</include>
	
	<node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen">
	
	  <rosparam file="$(find jackal_nav)/params/controllers_teb.yaml" command="load" />
	  <rosparam file="$(find jackal_nav)/params/planners.yaml" command="load" />
	  <rosparam file="$(find jackal_nav)/params/recovery.yaml" command="load" />
	  <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
	  <rosparam file="$(find jackal_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
	  
	  <rosparam file="$(find jackal_navigation)/params/odom_nav_params/global_costmap_params.yaml" command="load" />
	  <rosparam file="$(find jackal_navigation)/params/odom_nav_params/local_costmap_params.yaml" command="load" />
	 
	</node>
   
	<node pkg="joy" type="joy_node" name="ps4_joy" respawn="true" >
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>
	<node pkg="joystick_planner" type="joystick_planner_node" name="joystick_planner" output="screen">
		<param name="scale_linear" value="1.0" />
		<param name="scale_angular" value="0.5" />
		<param name="odom" value="Odometry/filtered" />
	</node>
</launch>
